* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geometria';
    user-select: none;
}

header.header {
    display: flex;
    background-image: url("../images/header-background.png");
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 877px;
    margin-bottom: 80px;
}

header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

header .header-top .inner-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-top .inner-right .blitz-logo-wrapper {
    display: flex;
    align-items: center;
}

header .header-top .inner-right .blitz-logo-wrapper .logo-text-wrapper {
    margin-left: 13px;
}

header .header-top .inner-right .blitz-logo-wrapper .logo-text-big {
    display: block;
    font-size: 23px;
}

header .header-top .inner-right .blitz-logo-wrapper .logo {
    display: flex;
    flex-direction: column;
}

header .header-top .inner-right .logo img:nth-child(2) {
    margin-top: -59px;
}

header .header-top .inner-right .description {
    width: 195px;
    font-size: 16px;
    margin-left: 30px;
}

header .header-top .inner-right .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header .header-top .inner-right .actions .phone {
    font-size: 30px;
}

header .header-top .inner-right .actions .action-buttons .outlined-btn {
    cursor: pointer;
    width: 272px;
    height: 55px;
    outline: none;
    background: none;
    border: 1px solid #2A94E2;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: 15px;
    background: linear-gradient(to left, transparent 50%, #2A94E2 50%) right;
    background-size: 200%;
    transition: .2s ease-out;
}

header .header-top .inner-right .actions .action-buttons .outlined-btn:hover {
    background-position: left;
}

header .header-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

header .header-bottom .heading-text-wrapper {
    max-width: 586px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
}

header .header-bottom .description-text-wrapper {
    max-width: 540px;
    margin-top: 47px;
    font-size: 22px;
}

header .header-bottom .info-wrapper {
    margin-top: 49px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .header-bottom .info-wrapper .info {
    display: flex;
    align-items: center;
    height: 73px;
    margin-right: 50px;
}

header .header-bottom .info-wrapper .info:last-child {
    margin-right: 0;
}

header .header-bottom .info-wrapper .info .big {
    font-size: 80px;
    font-weight: 300;
    margin-right: 20px;
}

header .header-bottom .info-wrapper .info .small {
    font-size: 16px;
    max-width: 129px;
}

header .header-bottom .act-wrapper {
    display: flex;
    flex-direction: column;
}

header .header-bottom .act-wrapper .act-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .header-bottom .act-wrapper .act-info .act-icon-wrapper {
    margin-right: 20px;
}

header .header-bottom .act-wrapper .act-info .act-text-wrapper {
    max-width: 376px;
    font-size: 16px;
}

header .header-bottom .act-wrapper .act-actions {
    margin-top: 40px;
}

header .header-bottom .act-wrapper .act-actions .filled-btn {
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #2A94E2;
    border-radius: 5px;
    padding: 22px 30px 17px 30px;
    background: linear-gradient(to left, #2A94E2 50%, transparent 50%) right;
    background-size: 200%;
    transition: .2s ease-out;
}

header .header-bottom .act-wrapper .act-actions .filled-btn:hover {
    background-position: left;
    color: black;
}

.marked-text {
    font-weight: 600;
}

section.quest {
    margin-bottom: 60px;
}

section.quest .top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 22px;
}

section.quest .top-text .big {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 15px;
}

section.quest .top-text .small {
    font-size: 22px;
}

section.quest .card-wrapper {
    display: flex;
    border: 3px solid #F6F6F6;
    margin: 0 auto;
}

section.quest .card-wrapper .card-left {
    width: 70%;
    border-right: 3px solid #F6F6F6;
    padding-left: 36px;
    padding-right: 40px;
    padding-top: 43px;
    padding-bottom: 18px;
}

section.quest .card-wrapper .card-right {
    width: 30%;
}

.heading {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 30px;
}

section.quest .card-wrapper .card-left .images {
    display: flex;
    margin-bottom: 26px;
}

section.quest .card-wrapper .card-left .images .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

section.quest .card-wrapper .card-left .images .image:last-child {
    margin-right: 0;
}

section.quest .card-wrapper .card-left .images .image .img-wrapper {
    max-width: 334px;
    height: 207px;
}

section.quest .card-wrapper .card-left .images .image .img-wrapper img {
    object-fit: cover;
    transition: .1s ease-in;
}

section.quest .card-wrapper .card-left .images .image .img-wrapper img:hover {
    transform: scale(1.05);
}

section.quest .card-wrapper .card-left .images .image .image-description {
    margin-top: 25px;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 600;
}

section.quest .card-wrapper .card-left .footing {
    border-top: 3px solid #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

section.quest .card-wrapper .card-left .footing .left {
    font-size: 16px;
    font-weight: 500;
}

section.quest .card-wrapper .card-left .footing .right {
    cursor: pointer;
}

section.quest .card-wrapper .card-left .footing .right .continue {
    display: flex;
    align-items: center;
}

section.quest .card-wrapper .card-left .footing .right .continue .text {
    margin-right: 15px;
    font-size: 16px;
    color: #2A94E2;
    text-decoration: none;
}

section.quest .card-wrapper .card-right .properties {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-right: 44px;
    padding-top: 40px;
    padding-bottom: 31px;
}

section.quest .card-wrapper .card-right .properties .property {
    display: flex;
    font-size: 16px;
    margin-bottom: 30px;
}

section.quest .card-wrapper .card-right .properties .property:last-child {
    margin-bottom: 0;
}

section.quest .card-wrapper .card-right .properties .property .check {
    margin-right: 28px;
}